* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd {
  margin: 0;
}

p {
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: grid;
  height: calc(100vh - 4.75rem);
  place-content: center;
}

.flex {
  display: flex;
}

.myInfo dl > * + * {
  margin-top: 0.25rem;
}

.myInfo dt {
  width: 8em;
  font-weight: bold;
}

.myInfo p + p {
  margin-top: 0.75rem;
}
